.ministryLogo {
    width: 450px;
    height: auto;
}

.logo {
    width: fit-content;
    height: auto;
    margin: auto;
    border-color: 5px solid white;
}

.manUsingLaptop {
    width: 100%;
    position: relative;
}
body {
    background-image: url('../../public/pictures/manUsingLaptopCopy.jpg');
    background-size: cover;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav a{
    width: 150px;
}
h3{
    color: white;
    width: 60%;
    text-align: center;
    margin: 80px auto;
}
